.home {
	.entry-content {
		text-align: center;
	}
}


.page:not(.home) {
	.bg-image-header .site-branding {
		color: $charcoal;
	}
}

.site-title {
	margin-bottom: 0;
}

.entry-header {
	text-align: center;
}

article.hentry {
	margin-bottom: 2em;
	p {
		line-height: 1.5;
	}
}

.gallery-icon {
	width: 80%;
	margin: $gb_margin auto;
	@include breakpoint( small ) {
		width: 100%;
	}
}

