.footer-wrap {
  margin-top: 2em;
}

.widget {
  text-align: center;
}

.widget li {
  display: inline-block;
  margin-right: 2rem;
}

footer .widget_tag_cloud a {
  background-color: transparent;
  border: 1px solid white;
}