

.bg-image-header .site-branding,
.home-header-bg .site-branding {
  width: 100%;
  padding: 0;
  .site-title {
    font-size: 4rem;
    line-height: 0.8em;
  }
  @include breakpoint(small) {
    text-align: right;
    .site-title {
      font-size: 2rem;

    }
  }
}

.bg-image-header, .bg-center-center {
  min-height: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  .site-branding {
    text-align: left;
    margin-left: 10vw;
    margin-left: 4rem;
  }
  @include breakpoint( small ) {
    background-position: right center;
    .site-branding {
      margin-left: 2em;
      text-align: left;
    }
  }
}

.home {
  .home-header-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 20rem;
    min-height: 30vw;
    .site-branding {
      text-align: right;
      margin-right: 10vw;
    }
    @include breakpoint( small ) {
      background-position: left center;
      .site-title {
        font-size: 2rem;
      }
    }
  }
}
