.project__series {
  font-style: italic;
  color: #666;
}

.single-project {
  .project__title--has-series {
    margin-bottom: 0.125em;
  }
  .project__series {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .project__author {
    margin-bottom: 1rem;
  }
}

.archive {

  .archive__title {
    text-align: center;
  }
  .row {
    height: auto;
  }
  .grid {
    overflow: hidden;
    margin-bottom: 2 * $gb_margin;
    article {
      text-align: center;
      height: 15rem;
      @include breakpoint (large) {
        height: 17rem;
      }
      margin-bottom: 3 * $gb_margin;
      h2 {
        font-size: rem_calc( 17px );
        margin-bottom: 0.25em;
        @include breakpoint (small) {
          font-size: rem_calc( 14px );
        }
        line-height: 1.125em;
        max-height: 3.375em;
        overflow: hidden;
      }
      &.hentry {
        margin: $gb_margin 0;
      }
      &:hover img,
      &:hover svg {
        transform: scale(1.05);
        transition: transform 0.2s;
      }
      &:last-child {
        float: left;
      }
    }
  }
  .wp-post-image {
    float: none;

    margin: 0 auto 1 * $gb_padding;
    height: 10em;
    width: auto;
    text-align: center;
    max-width: 100%;
    text {
      font-family: $gb_font-secondary;
      fill: $charcoal;
      font-size: 8px;
      text-wrap: normal;
    }

  }
  .page-navigation {
    clear: both;
    text-align: center;
  }
  .pagination {
    margin: 0;
    width: auto;
    text-align: center;
    display: inline-block;
  }
}

