.project-slider {
  //&:before,&:after {
  //  position: absolute;
  //  content: "";
  //  top: 0;
  //  width: 4rem;
  //  height: 100%;
  //  z-index: 100;
  //}
  //&:before {
  //  left: 0;
  //  box-shadow: inset 4rem 0 2rem -3rem $gb_white;
  //}
  //&:after {
  //  right: 0;
  //  box-shadow: inset -4rem 0 2rem -3rem $gb_white;
  //}
  .slick-arrow {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 102;
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
    &:before {
      color: $gb_red;
      opacity: 1;
    }
    &:hover {
      background-color: $gb_red;
      &:before {
        color: $gb_white;
      }
    }
  }
  .slick-dots .slick-active button:before {
    color: $gb_red;
    opacity: 1;
  }
}

.slide {
  background-color: $gb_white;
  border: 1px solid whitesmoke;
  padding: 0.5 * $gb_padding $gb_padding;
  margin: 2 * $gb_margin 0.5 * $gb_margin;
  text-align: center;
  transform: scale(1);
  transition: transform 250ms linear;
  .slide__title {
    display: none;
    font-size: 1.125rem;
    @include breakpoint( small ) {
      font-size: 0.75rem;
    }
    a {
      color: $gb_black;
    }
  }
  .slide__image {
    width: auto;
    margin: 0.5 * $gb_spacing auto;
  }
  &.slick-current {
    position: relative;
    z-index: 99;
    transform: scale(1.2);
    .slide__title {
      display: block;
    }
  }
}

