/* MAIN THEME IMPORTS */
/* CHILD VARIABLES & MIXINS */
/* Responsive media query mixins */
/* ADDITIONAL STYLES */
.home .entry-content {
  text-align: center; }

.page:not(.home) .bg-image-header .site-branding {
  color: #555555; }

.site-title {
  margin-bottom: 0; }

.entry-header {
  text-align: center; }

article.hentry {
  margin-bottom: 2em; }
  article.hentry p {
    line-height: 1.5; }

.gallery-icon {
  width: 80%;
  margin: 1rem auto; }
  @media only screen and (max-width: 40em) {
    .gallery-icon {
      width: 100%; } }

.bg-image-header .site-branding,
.home-header-bg .site-branding {
  width: 100%;
  padding: 0; }
  .bg-image-header .site-branding .site-title,
  .home-header-bg .site-branding .site-title {
    font-size: 4rem;
    line-height: 0.8em; }
  @media only screen and (max-width: 40em) {
    .bg-image-header .site-branding,
    .home-header-bg .site-branding {
      text-align: right; }
      .bg-image-header .site-branding .site-title,
      .home-header-bg .site-branding .site-title {
        font-size: 2rem; } }

.bg-image-header, .bg-center-center {
  min-height: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .bg-image-header .site-branding, .bg-center-center .site-branding {
    text-align: left;
    margin-left: 10vw;
    margin-left: 4rem; }
  @media only screen and (max-width: 40em) {
    .bg-image-header, .bg-center-center {
      background-position: right center; }
      .bg-image-header .site-branding, .bg-center-center .site-branding {
        margin-left: 2em;
        text-align: left; } }

.home .home-header-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 20rem;
  min-height: 30vw; }
  .home .home-header-bg .site-branding {
    text-align: right;
    margin-right: 10vw; }
  @media only screen and (max-width: 40em) {
    .home .home-header-bg {
      background-position: left center; }
      .home .home-header-bg .site-title {
        font-size: 2rem; } }

.project .entry-header {
  text-align: left; }

.widget_tag_cloud--sidebar a {
  background-color: transparent;
  border: 1px solid #888;
  color: #888; }

.project__series {
  font-style: italic;
  color: #666; }

.single-project .project__title--has-series {
  margin-bottom: 0.125em; }

.single-project .project__series {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.single-project .project__author {
  margin-bottom: 1rem; }

.archive .archive__title {
  text-align: center; }

.archive .row {
  height: auto; }

.archive .grid {
  overflow: hidden;
  margin-bottom: 2rem; }
  .archive .grid article {
    text-align: center;
    height: 15rem;
    margin-bottom: 3rem; }
    @media (min-width: 64em) {
      .archive .grid article {
        height: 17rem; } }
    .archive .grid article h2 {
      font-size: 1.0625rem;
      margin-bottom: 0.25em;
      line-height: 1.125em;
      max-height: 3.375em;
      overflow: hidden; }
      @media only screen and (max-width: 40em) {
        .archive .grid article h2 {
          font-size: 0.875rem; } }
    .archive .grid article.hentry {
      margin: 1rem 0; }
    .archive .grid article:hover img,
    .archive .grid article:hover svg {
      transform: scale(1.05);
      transition: transform 0.2s; }
    .archive .grid article:last-child {
      float: left; }

.archive .wp-post-image {
  float: none;
  margin: 0 auto 1rem;
  height: 10em;
  width: auto;
  text-align: center;
  max-width: 100%; }
  .archive .wp-post-image text {
    font-family: sans-serif;
    fill: #555555;
    font-size: 8px;
    text-wrap: normal; }

.archive .page-navigation {
  clear: both;
  text-align: center; }

.archive .pagination {
  margin: 0;
  width: auto;
  text-align: center;
  display: inline-block; }

.project-slider .slick-arrow {
  height: 2.5rem;
  width: 2.5rem;
  z-index: 102; }
  .project-slider .slick-arrow.slick-prev {
    left: 0; }
  .project-slider .slick-arrow.slick-next {
    right: 0; }
  .project-slider .slick-arrow:before {
    color: #e8554e;
    opacity: 1; }
  .project-slider .slick-arrow:hover {
    background-color: #e8554e; }
    .project-slider .slick-arrow:hover:before {
      color: #fff; }

.project-slider .slick-dots .slick-active button:before {
  color: #e8554e;
  opacity: 1; }

.slide {
  background-color: #fff;
  border: 1px solid whitesmoke;
  padding: 0.5rem 1rem;
  margin: 2rem 0.5rem;
  text-align: center;
  transform: scale(1);
  transition: transform 250ms linear; }
  .slide .slide__title {
    display: none;
    font-size: 1.125rem; }
    @media only screen and (max-width: 40em) {
      .slide .slide__title {
        font-size: 0.75rem; } }
    .slide .slide__title a {
      color: #444; }
  .slide .slide__image {
    width: auto;
    margin: 0.5rem auto; }
  .slide.slick-current {
    position: relative;
    z-index: 99;
    transform: scale(1.2); }
    .slide.slick-current .slide__title {
      display: block; }

.footer-wrap {
  margin-top: 2em; }

.widget {
  text-align: center; }

.widget li {
  display: inline-block;
  margin-right: 2rem; }

footer .widget_tag_cloud a {
  background-color: transparent;
  border: 1px solid white; }
